<mat-toolbar>
<a routerLink='/'>
  <img src="../../../../assets/img/logo-minimal.png" alt="brand" height="28" />
</a>
<span class="spacer"></span>
  <ng-template #unlogged>
    <a mat-button routerLink="auth/login" routerLinkActive="mat-accent">Login</a>
  <a mat-button routerLink="auth/registro"  routerLinkActive="mat-accent">Registro</a>
  </ng-template>

  <div *ngIf="user$ |async as user; else unlogged" class="user-menu" >
    <img class="avatar" [src]="user.profile" alt="Avatar" routerLink="/perfil" routerLinkActive="avatar-active" />
    <button mat-icon-button (click)="logout()">
      <mat-icon>logout</mat-icon>
    </button>
  </div>
</mat-toolbar>
