<div class="content">
  <div *ngIf="user$ | async as user; else loading" class="profile form-wrapper">
    <form class="form" #profileForm="ngForm" (ngSubmit)="onSubmit(profileForm)">
      <input type="hidden" name="uid" [(ngModel)]="user.uid" />
      <div class="avatar-edit-wrapper">
        <img [src]="user.profile" class="avatar-edit" />
        <input
          type="file"
          profile
          hidden
          #profileInput
          (input)="setProfilePicture()"
        />
        <button
          type="button"
          mat-mini-fab
          color="primary"
          (click)="profileInput.click()"
          class="overlap"
        >
          <mat-icon>photo_camera</mat-icon>
        </button>
      </div>

      <p>
        <mat-form-field class="full-width" appearance="fill">
          <mat-label>Nome de usuário</mat-label>
          <input
            matInput
            placeholder="Nome de usuário"
            name="username"
            [(ngModel)]="user.username"
            required
          />
          <mat-icon matSuffix>person</mat-icon>
        </mat-form-field>
      </p>

      <p>
        <mat-form-field class="full-width" appearance="fill">
          <mat-label>Data de nascimento</mat-label>
          <input
            matInput
            [matDatepicker]="picker"
            name="birthdate"
            [(ngModel)]="user.birthdate"
            required
          />
          <mat-datepicker-toggle matSuffix [for]="picker">
          </mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
      </p>

      <button
        type="submit"
        mat-raised-button
        color="primary"
        [disabled]="profileForm.invalid"
      >
        Salvar
      </button>
    </form>
  </div>

  <ng-template #loading>
    <mat-spinner></mat-spinner>
  </ng-template>
</div>
